.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url("https://images.unsplash.com/photo-1588776814546-1ffcf47267a5");
background-size:cover;
background-position:center;
color:white;
padding:20px;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

.hero-btn{
background:#2EA3F2;
padding:15px 30px;
border-radius:8px;
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.hero-btn:hover{
background:#1c7cc0;
}

@media(max-width:768px){

.hero h1{
font-size:32px;
}

.hero p{
font-size:16px;
}

}